<h2 class="text-center">欢迎来到电影评论家!</h2>
<div class="col-md-12">

  <div class="group">
      <%= link_to("新增电影",new_review_path,class: "btn btn-primary pull-right")%>
  </div>
</div>

  <div style="margin-top:80px;">
      <% @reviews.each do |review|%>
      <div class="group" style="display:inline-block; margin-bottom:20px">
        <%= image_tag review.avatar.url(:medium)%>
        <br>
        <label> 电影名称: </label>
        <%= link_to(review.title,review_path(review))%>
        <br>
        <label> 评论数: </label>
        <%= review.posts.count %>
        <br>
        <label> 上线时间: </label>
        <%= review.created_at%>
        <br>
      </div>
      <% end %>
  </div>
